---
import { getCollection } from 'astro:content'
import Layout from '~/layouts/Layout.astro'
import FormattedDate from '~/components/FormattedDate.astro'

const posts = (await getCollection('blog')).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
---

<Layout title='Emptyarea' description='Design your website'>
  <main class='mx-auto min-w-7xl'>
    <section>
      <ul class='flex gap-4'>
        {
          posts.map(post => (
            <li>
              <a href={`/blog/${post.slug}/`} class='block'>
                <img width={720} height={360} src={post.data.heroImage} alt='' class='mb-2 rounded' />
                <h4 class='title'>{post.data.title}</h4>
                <p class='date'>
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
