body {
  background-color: bg-slate-50;
}

[x-cloak] {
  visibility: hidden !important;
}

.stroke {
  color: transparent;
  -webkit-text-stroke: 1px #1d1d1d;
}

h1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

h1 span {
  display: inline-block;
  transform: translateY(100%);
  transition: transform 0.5s;
}

/* Animation */
.rotate-circle {
  animation-name: rotateCircle;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
