---
import Layout from '~/layouts/Layout.astro'
import Image from '~/components/Image.astro'
import about_1 from '~/assets/img/about-1.jpg'
import about_2 from '~/assets/img/about-2.jpg'
import about_3 from '~/assets/img/about-3.jpg'
---

<Layout>
  <section>
    <div class="container mx-auto my-32 flex flex-col gap-16 px-4 tracking-widest lg:flex-row lg:px-8">
      <div class="lg:w-1/2">
        <Image src={about_1} alt="About 1" />
      </div>
      <div class="mt-4 lg:w-1/2">
        <h6 class="mb-6 text-lg">EmptyArea Digital Studio</h6>
        <h1 class="mb-4 text-2xl leading-normal">
          我是一名前端开发人员和 UI/UX 设计师。我一直与来自世界各地的客户合作创建定制网站和品牌。
        </h1>
        <h1 class="mb-4 text-2xl leading-tight">
          无论您是在寻找新网站、发展品牌形象，还是探索 SEO 世界，我都会为您提供帮助。 我们的热情在于与客户合作。
        </h1>
        <h1 class="mb-4 text-2xl leading-tight">
          看到企业通过创意理念不断成长，支持自己的市场地位。 无论是在线上还是线下，我们都希望您实现您的业务目标。
        </h1>
      </div>
    </div>
  </section>

  <section>
    <div class="container mx-auto my-32 flex flex-col gap-16 px-4 tracking-widest lg:flex-row lg:px-8">
      <div class="mt-4 lg:w-1/2">
        <h6 class="mb-6 text-lg">EmptyArea Digital Studio</h6>
        <h1 class="mb-4 text-2xl leading-normal">
          我是一名前端开发人员和 UI/UX 设计师。我一直与来自世界各地的客户合作创建定制网站和品牌。
        </h1>
        <h1 class="mb-4 text-2xl leading-tight">
          无论您是在寻找新网站、发展品牌形象，还是探索 SEO 世界，我都会为您提供帮助。 我们的热情在于与客户合作。
        </h1>
        <h1 class="mb-4 text-2xl leading-tight">
          看到企业通过创意理念不断成长，支持自己的市场地位。 无论是在线上还是线下，我们都希望您实现您的业务目标。
        </h1>
      </div>
      <div class="lg:w-1/2">
        <Image src={about_2} alt="About 2" />
      </div>
    </div>
  </section>

  <section>
    <div class="container mx-auto my-32 flex flex-col gap-16 px-4 tracking-widest lg:flex-row lg:px-8">
      <div class="lg:w-1/2">
        <Image src={about_3} alt="About 3" />
      </div>
      <div class="mt-4 lg:w-1/2">
        <h6 class="mb-6 text-lg">EmptyArea Digital Studio</h6>
        <h1 class="mb-4 text-2xl leading-normal">
          我是一名前端开发人员和 UI/UX 设计师。我一直与来自世界各地的客户合作创建定制网站和品牌。
        </h1>
        <h1 class="mb-4 text-2xl leading-tight">
          无论您是在寻找新网站、发展品牌形象，还是探索 SEO 世界，我都会为您提供帮助。 我们的热情在于与客户合作。
        </h1>
        <h1 class="mb-4 text-2xl leading-tight">
          看到企业通过创意理念不断成长，支持自己的市场地位。 无论是在线上还是线下，我们都希望您实现您的业务目标。
        </h1>
      </div>
    </div>
  </section>
</Layout>
