---
const today = new Date()
---

<footer class="bg-black py-24 text-white">
  <div class="container mx-auto flex flex-row justify-between px-4 pb-16 lg:px-8">
    <div class="pb-16">
      <svg width="60" height="45" viewBox="0 0 60 45" class="text-white/30" xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M7.5 0H60L52.5 15H52.0639C51.1738 12.8011 49.018 11.25 46.5 11.25H13.5C10.1863 11.25 7.5 13.9363 7.5 17.25V22V27.75C7.5 31.0637 10.1863 33.75 13.5 33.75H46.5C49.018 33.75 51.1738 32.1989 52.0639 30H52.5L60 45H7.5H0V0H7.5Z"
          fill="none"
          class="fill-current"></path>
        <rect x="13" y="16" width="33" height="12" rx="3" fill="none" class="fill-current"></rect>
      </svg>
    </div>
    <div class="text-xl font-light leading-snug tracking-wider lg:w-1/2 lg:text-4xl lg:leading-normal">
      <p>我们致力于突破界限和拥抱创新。我们的团队不断探索新技术、想法和策略，为您提供尖端的解决方案，带来竞争优势。</p>
    </div>
  </div>
  <div class="container mx-auto flex flex-row justify-between px-4 pb-8 lg:px-8">
    <div class="font-light leading-snug tracking-wider text-neutral-300 hover:text-white lg:leading-normal">
      E-mail: <a href="mailto: taoguangc@gmail.com">taoguangc@gmail.com</a>
    </div>
  </div>
  <div class="container mx-auto flex flex-row justify-between px-4 lg:px-8">
    <div>
      <h6>© {today.getFullYear()} EmptyArea</h6>
    </div>
    <div>
      <a id="totop" href="#" class="flex flex-row items-center">
        返回顶部&nbsp
        <svg viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 19.5v-15m0 0l-6.75 6.75M12 4.5l6.75 6.75"></path>
        </svg>
      </a>
    </div>
  </div>
</footer>
