---
const today = new Date();
---

<footer class="bg-black text-white py-16">
	<div class="social-links">
		
	</div>
	<div class="mx-auto container px-4 lg:px-8 flex flex-row justify-between">
		<div>热爱创意设计，永无止境</div>
		<div>Neuron, {today.getFullYear()}® All rights reserved.</div>
	</div>
</footer>
