---
import '~/assets/css/main.css'
import Header from '~/components/Header.astro'
import Footer from '~/components/Footer.astro'

interface Props {
  title?: string
  description?: string
}

const { title = 'Emptyarea', description = 'Design your website' } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <meta name='description' content='{description}' />
    <link rel="preload" href="/manrope-latin-300-normal.woff2" as="font" type="font/woff2" crossorigin> 
    <link rel="preload" href="/manrope-latin-400-normal.woff2" as="font" type="font/woff2" crossorigin> 
    <link rel="preload" href="/manrope-latin-500-normal.woff2" as="font" type="font/woff2" crossorigin> 
    <link rel="preload" href="/manrope-latin-600-normal.woff2" as="font" type="font/woff2" crossorigin> 
    <link rel="preload" href="/manrope-latin-700-normal.woff2" as="font" type="font/woff2" crossorigin> 
  </head>
  <body
    class='antialiased min-h-screen'
    x-data='{ toTop: false }'
    @scroll.window='toTop = ( window.pageYOffset > window.innerHeight) ? true : false'
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<script>
  import '~/assets/js/main.js'
</script>
