---
import '~/assets/css/main.css'
import Header from '~/components/Header.astro'
import Footer from '~/components/Footer.astro'

interface Props {
  title?: string
  description?: string
}

const { title = 'Emptyarea', description = 'Design your website' } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <meta name='description' content='{description}' />
  </head>
  <body
    class='overflow-hidden antialiased min-h-screen tracking-wider'
    x-data='{ toTop: false }'
    @scroll.window='toTop = ( window.pageYOffset > window.innerHeight) ? true : false'
  >
    <div class='flex flex-col min-h-screen overflow-visible'>
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>

<script>
  import '~/assets/js/main.js'
</script>
